

.Main {
  display: flex;
}

/* .Main>.div {
  /* border: 1px solid; */
/* } */ 

.Main>.div.div-1 {
  /*! div 1*/
  width: 25%;
  min-height: 100vh;
  padding: 0.5rem;
}

.Main>.div.div-2 {
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
}

.Main>.div.div-3 {
  width: 25%;
}





/* div div-1 */
/* !login logout */
.div.div-1 h2 {
  text-align: left;
  /* color: white; */
  font: 3rem Poppins,sans-serif;
  font-weight: bold;
}

.div.div-1 div {
  display: grid;

}

.div.div-1 button,
.div.div-1 input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: 0;
}

.div.div-1 .top-div {
  display: flex;
  justify-content: space-between;
}

.div.div-1 img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid;
}




/* !post */
/* ! upload-post */

.upload-post {
  width: 100%;
  margin-bottom: 1rem;
  background: #fff;
  position: sticky;
  top: 0;
}

.upload-post>h2 {
  padding: 0.5rem;
}

.upload-post-flex {
  display: grid;
}

.upload-post-flex button,
.upload-post-flex textarea {
  margin: 0.5rem 0.4rem;
  padding: 0.5rem;
  outline: 0;
  resize: vertical;
}

/** post-container */
.post-container {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: auto;
}



/*! Post */

.post-container .post {
  border: 1px solid;
  margin-bottom: 0.5rem;
}

.post-container .post .post-top {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0.5rem;
}

.post-container .post img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid blue;
}

.post-container .post p {
  padding: 0.5rem;
}

.post-container .post .post-bottom {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.25rem;
}

.post-container .post .post-bottom button {
  padding: 0.5rem;
  border: none;
  /* background: #0A3981; */
  
  color: #b31515;
  font-weight: bold;

}